<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
	<!-- pagination -->
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css}"/>
	<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
	
	<script>
	$(document).ready( function () {
	    $('#searchResult').DataTable();
	} );
	</script>
	
</head>

<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container-fluid">
			<div class="col">
				<table border="1" id="searchResult">
					<!-- <caption>All Jabatan</caption> -->
					<thead>
						<tr>
							<th style="text-align: center">Nama</th>
							<th style="text-align: center">Deskripsi</th>
							<th style="text-align: center">Jumlah Pegawai</th>
							<th style="text-align: center">Gaji Pokok</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="jabatan,iterationStatus : ${listJabatan}">
							<td th:text="${jabatan.nama}"></td>
							<td th:text="${jabatan.deskripsi}"></td>
							<td th:text="${jabatan.listPegawai.size()}"></td>
							<td th:text="${jabatan.gajiPokok}"></td>
						</tr>
					</tbody>
			</table>
			<!-- pagination -->
			<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
			<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
			<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
			</div>
		</div>
		
		<!-- pagination -->
		<script>
		$(document).ready(function(){
			$('#searchResult').DataTable({
				"pagingType" : "full_numbers"
			});
			
		});
		
		</script>
		
	</body>
	

</html>